<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    <label for="filterText" class="form-label">Ürün ara</label>
    <input type="text" [(ngModel)] = "filterText" class="form-control" id="filterText" placeholder="aramak istediğiniz ürünü giriniz">
</div>
<div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} aradınız.
</div>


<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <th>id</th>
        <th>Ürün adı</th>
        <th>Category Id</th>
        <th>Stok</th>
        <th>Fiyat</th>
        <th>KDV'li fiyat</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filteredPipe:filterText" >
            <td>{{product.productId}}</td>
            <td>{{product.productName |uppercase}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.unitsInStock}}</td>
            <td>{{product.unitPrice | currency}}</td>
            <td>{{product.unitPrice | vatAdded:10 | currency}}</td>
            <td><button  class="btn btn-success" (click)="addToCart(product)" >sepete ekle</button></td>
             
        </tr>
    </tbody>
  
   
</table>